.a {
  background-color: #D6E685 !important;
}

.b {
  background-color: #8CC665 !important;
}

.c {
  background-color: #44A340 !important;
}

.d {
  background-color: #1E6823 !important;
}

.e {
  background-color: #EEEEEE !important;
}