<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>

    <body>
        <div id="app">
            <div class="login-box">
                <div>
                    <input v-model="username" type="text" />
                </div>
                <div>
                    <input v-model="password" type="password" />
                </div>
                <div>
                    <input type="button" value="登陆" v-on:click="login" />
                </div>
            </div>
        </div>

        <script>
            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        username: '',
                        password: ''
                    };
                },
                methods: {
                    login: function () {
                        let username = 'hello';
                        let password = '123';
                        if (username !== this.username || password !== this.password) {
                            alert('你输入的用户名和密码不正确');
                        } else {
                            alert('你登陆成功！');
                        }
                    }
                }
            });
        </script>
    </body>
</html>
