<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>

    <body>
        <div id="app">
            <div class="register-box">
                <div>
                    <input v-model="username" type="text" />
                </div>
                <div>
                    <input v-model="password" type="password" />
                </div>
                <div>
                    <input type="button" value="注册" v-on:click="register" />
                </div>
            </div>
        </div>

        <script>
            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        username: '',
                        password: '',
                        users: [
                            {
                                username: 'hello',
                                password: '123456'
                            },
                            {
                                username: 'lyc',
                                password: '123456'
                            }
                        ]
                    };
                },
                methods: {
                    register: function () {
                        this.users.push({
                            username: this.username,
                            password: this.password
                        });

                        this.users.forEach((ele) => {
                            console.log(ele);
                        });
                    }
                }
            });
        </script>
    </body>
</html>
