<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>学生管理系统</title>
        <link href="../../static/css/chap01/index.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <h1>学生管理系统</h1>
            <div style="background-color: #eceff0" class="up">
                <div class="wrap">
                    <div class="input-box">学号：<input v-model="num" class="input" type="text" placeholder="请输入学号" /></div>
                    <div class="input-box">姓名：<input v-model="name" class="input" type="text" placeholder="请输入姓名" /></div>
                    <div class="input-box">班级：<input v-model="cl" class="input" type="text" placeholder="请输入班级" /></div>
                    <div class="input-box">性别：<input v-model="sex" class="input" type="text" placeholder="男/女" /></div>
                    <div class="input-box">年龄：<input v-model="age" class="input" type="text" placeholder="请输入年龄" /></div>
                    <div>行数：<input v-model="rowNum" id="del-input" type="text" placeholder="请输入要操作的行数" /></div>
                    <button class="btn" v-on:click="add">录入</button>
                    <button class="btn" v-on:click="rep">修改</button>
                </div>
            </div>

            <!-- 下半部分-->
            <div class="down">
                <table id="table">
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>班级</th>
                        <th>性别</th>
                        <th>年龄</th>
                    </tr>
                    <tr v-on:click="del(index)" class="rows" v-for="(item, index) in students" :key="index">
                        <th>{{item.num}}</th>
                        <th>{{item.name}}</th>
                        <th>{{item.cl}}</th>
                        <th>{{item.sex}}</th>
                        <th>{{item.age}}</th>
                    </tr>
                </table>
            </div>
        </div>

        <script>
            const app = {
                data() {
                    return {
                        students: [],
                        num: 0,
                        name: '',
                        cl: '',
                        sex: '',
                        age: 0,
                        rowNum: 0
                    }
                },
                methods: {
                    add() {
                        this.students.push({
                            num: this.num,
                            name: this.name,
                            cl: this.cl,
                            sex: this.sex,
                            age: this.age
                        })
                    },
                    del(index) {
                        this.students.splice(index, 1)
                    },
                    rep() {
                        this.students[this.rowNum] = {
                            num: this.num,
                            name: this.name,
                            cl: this.cl,
                            sex: this.sex,
                            age: this.age
                        }
                    }
                }
            }

            Vue.createApp(app).mount('#app')
        </script>
    </body>
</html>
