<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/vue@next"></script>
        <title>绑定style</title>
    </head>
    <body>
        <div id="app">
            <div id="body" :style="{ '--font-color': fontColor, '--font-size': fontSize + 'px' }">
                <p>1 Hello World!</p>
                <p>2 Hello World!</p>
                <p>3 Hello World!</p>
                <p>4 Hello World!</p>
                <p>5 Hello World!</p>
            </div>
            <input v-model="fontColor" placeholder="输入字体大小值" />
            <input v-model="fontSize" placeholder="输入字体颜色值" />
        </div>
        <script>
            const app = {
                data() {
                    return {
                        fontColor: 'red',
                        fontSize: '14'
                    };
                }
            };

            Vue.createApp(app).mount('#app');
        </script>
        <style>
            p {
                color: var(--font-color);
                font-size: var(--font-size);
            }
        </style>
    </body>
</html>
