* {
  -moz-user-select: none; /*mozilar*/
  -webkit-user-select: none; /*webkit*/
  -ms-user-select: none; /*IE*/
  user-select: none;
}

/*ul {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*li {*/
/*  list-style: none;*/
/*}*/

.enable-cursor {
  cursor: pointer;
  --li-height: 0;
  --tip-height: 0;
}

.enable-display {
  display: none;
}

.enable-cursor-active {
  animation: category-display 0.5s ease-in-out 0s;
}

.enable-display-active {
  display: block;
  animation: category-show 1s ease-in-out 0s;
}

@keyframes category-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes category-display {
  from {
    height: var(--tip-height);
  }

  to {
    height: calc(var(--li-height) + var(--tip-height));
  }
}